/* ESTILOS PAGINA DEL JUEGO (GAMEPAGE)*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

.game__section {
  width: 100%;
  min-height: 100vh;       
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: var(--green);
}

.img__game {
  width: 100%;
  height: auto;
}

.top {
  transform: scaleY(-1);
}

.below {
  margin-bottom: 0;
}


.container_game {
  display: flex;
  flex-direction: column;
}

.game__title {
  text-align: center;
  font-size: 5em;
  color: rgba(0, 255, 4);
  font-weight: bold;
  text-shadow: -6px 8px 2px rgb(102, 94, 94);
  margin: 0.9em auto -0.3em;  
  font-family: 'RubikWetPaint';
}


.container__Eye {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 11em;

}

.img__eye {
  width: 12em;
  height: auto;

}

.right {
  transform: scaleX(-1);
}

.button__game {
  position: relative;
  text-align: center;
  font-size: 23px;
  border: 0.5px solid rgba(0, 255, 4);
  width: 140px;
  border-radius: 7px;
  margin: 0.8em auto 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2em;
  text-shadow: 0px 2px 6px rgba(102, 102, 102, 0.6);
  transition: all 0.5s;
  font-family: RubikWetPaint;
  overflow: hidden;
  z-index: 0;
}

.button__game::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 255, 4);
  z-index: -1;
  transition: all 0.3s;
}

.button__game:hover::before {
  width: 100%;
}

.button__game:hover {
  color: black;

}