:root {
  --green: #00ff04;
  --green-shadow: #0c66666f;
  --blue: #0877cbe9;
  --dark-green: #14c8c8;
  --black: #030303;
  --gray: #7c7a7ab4;
  --white:#FFFCFC;

  --navbar-gradient: linear-gradient(90deg, rgb(2, 8, 13) 15%, rgba(6, 80, 72, 0.536)100% , rgb(41, 174, 161) 10%); /* TODO: */

  --body-gradient: linear-gradient(0deg,rgba(3, 3, 3, 1) 5%, rgb(59, 70, 73) 50%, rgba(3, 3, 3, 1) 100%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

/*FONTS*/
@font-face {
  font-family: 'Poppins';
  src: url(/fonts/Poppins.woff2) format(woff2);
  font-style: normal;
}


@font-face {
  font-family: 'RubikWetPaint';
  src: url(/fonts/RubikWetPaint.woff2) format(woff2);
  font-style: normal;
}

